@{
    Layout = "~/Views/Shared/Admin_layout.cshtml";
}
@model BAO_CAO.Models.Nhanvien

<head>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/phong.css" asp-append-version="true" />
 

</head>

<nav class="mt-2 mb-4" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-decoration-none" asp-controller="Admin" asp-action="Index">Dashboard</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" asp-action="Index">Danh sách Nhân Viên</a></li>
        <li class="breadcrumb-item active" aria-current="page">Xóa Nhân viên</li>
    </ol>
</nav>

<h3 class="text-center text-uppercase text-white">Xóa Nhân Viên ( Không thể khôi phục !!! )</h3>

<div class="card bg-dark text-white shadow-lg p-4 rounded">
    <h4 class="text-center text-uppercase">Thông tin Nhân Viên</h4>
    <hr class="border-light">
    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">@Html.DisplayNameFor(model => model.MaNV)</label>
                    <input type="text" class="form-control" value="@Model.MaNV" readonly>
                </div>
                <div class="mb-3">
                    <label class="form-label">@Html.DisplayNameFor(model => model.TenNV)</label>
                    <input type="text" class="form-control" value="@Model.TenNV" readonly>
                </div>
                <div class="mb-3">
                    <label class="form-label">@Html.DisplayNameFor(model => model.DiaChi)</label>
                    <input type="text" class="form-control" value="@Model.DiaChi" readonly>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">@Html.DisplayNameFor(model => model.ChucVu)</label>
                    <input type="text" class="form-control" value="@Model.ChucVu" readonly>
                </div>
                <div class="mb-3">
                    <label class="form-label">@Html.DisplayNameFor(model => model.hesoluong)</label>
                    <input type="number" class="form-control" value="@Model.hesoluong" readonly>
                </div>
            </div>
        </div>
    </form>
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaNV" />
        <div class="d-flex gap-3 flex-column flex-sm-row">
            <input type="submit" value="Xác nhận xóa" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-success">Quay lại</a>
        </div>
    </form>

</div>



   


